:root {
  --slate-text-color: #434455;
  --navy-blue-color: #2e2f42;
  --ocean-pressed-color: #404bbf;
  --iris-btn-color: #4d5ae5;
  --green-success-color: #31d0aa;
  --light-slate-color: #8e8f99;
  --cornflower-accent-color: #e7e9fc;
  --navy-blue-modal-color: #2e2f42;
  --white-background-color: #ffffff;
  --cloud-text-color: #e7e9fc;
  --dairy-modal-background-color: #fcfcfc;
  --expert-section-background-color: #f4f4fd;
  --solution-bg-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  --transition-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ====== COMMON STYLES ======= */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-background-color);
  color: var(--slate-text-color);
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  transition: color var(--transition-animation);
}

.link:hover,
.link:focus {
  color: var(--ocean-pressed-color);
}

.site-body {
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----------HEADER---------------/* */

.header {
  border-bottom: 1px solid var(--cornflower-accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header > .container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-btn-color);
  word-spacing: -4px;
  margin-right: 76px;
}

.header-logo-studio {
  color: var(--navy-blue-color);
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  transition: color var(--transition-animation);
  position: relative;
}

.header-link:hover,
.header-link:focus {
  color: var(--ocean-pressed-color);
}

.header-link.current {
  color: var(--ocean-pressed-color);
}

.header-link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--ocean-pressed-color);
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.header-address {
  font-style: normal;
}

.header-contact {
  display: inline-block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-text-color);
}

/*----------SOLUTION SECTION---------------/* */

.solution-title-section {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--navy-blue-color);
  background-image: var(--solution-bg-gradient), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.solution-hidden-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin: 0 auto 48px;
  max-width: 496px;
}

.solution-btn-title {
  display: block;
  margin: 0 auto;
  height: 56px;
  padding: 16px 32px;
  min-width: 169px;
  background-color: var(--iris-btn-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-animation);
}

.solution-btn-title:hover,
.solution-btn-title:focus {
  background-color: var(--ocean-pressed-color);
}

/*----------ADVANTAGES SECTION---------------/* */

.advantages-section {
  padding-top: 120px;
  padding-bottom: 120px;
  /* flex-basis: calc ((100% - 72px) / 4); */
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  flex-basis: calc ((100% - 72px) / 4);
}

.advantages-svg {
  width: 264px;
  height: 112px;
  background-color: var(--expert-section-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 8px;
}

.advantages-icon {
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  margin-bottom: 8px;
}
.advantages-under-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-text-color);
  min-width: 264px;
}
/*----------PHOTO SECTION---------------/* */

.photo-section {
  padding-bottom: 120px;
}

.photo-section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
  margin-bottom: 72px;
}

.photo-section-list {
  display: flex;
  gap: 24px;
}

.photo-section-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

/*----------EXPERT SECTION---------------/* */

.expert-section {
  background-color: var(--expert-section-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.expert-team-general-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
  margin-bottom: 72px;
}

.expert-section-list {
  display: flex;
  gap: 24px;
}

.expert-team-item {
  background-color: var(--white-background-color);
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.expert-text {
  padding-top: 32px;
  padding-bottom: 32px;
}

.expert-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  margin-bottom: 8px;
}

.expert-position-text {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate-text-color);
}

.expert-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.expert-soc-item {
  width: 40px;
  height: 40px;
}

.expert-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris-btn-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-animation);
}

.expert-soc-icon {
  fill: var(--expert-section-background-color);
}

.expert-soc-link:hover,
.expert-soc-link:focus {
  background-color: var(--ocean-pressed-color);
}

/*----------CUSTOMER SECTION---------------/* */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-color);
  margin-bottom: 72px;
}
.customers-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100%-120px) / 6);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color var(--transition-animation),
    color var(--transition-animation);
}

.customers-icon {
  fill: var(--light-slate-color);
  transition: border-color var(--transition-animation);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean-pressed-color);
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--ocean-pressed-color);
}
/*----------FOOTER---------------/* */

.footer {
  background-color: var(--navy-blue-color);
  padding: 100px 0;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-logo-wrap {
  width: 264px;
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  align-items: center;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-btn-color);
}

.footer-logo-studio {
  color: var(--expert-section-background-color);
}

.footer-under-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--expert-section-background-color);
}

.footer-soc-icon {
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin-bottom: 16px;
}

.footer-social-media-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}

.footer-social-media-item {
  width: 40px;
  height: 40px;
}

.footer-icon {
  fill: var(--expert-section-background-color);
}

.footer-social-media-link {
  width: 100%;
  height: 100%;
  fill: var(--white-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--iris-btn-color);
  border-radius: 50%;
  transition: background-color var(--transition-animation);
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background: var(--green-success-color);
}

/* ============================PORTFOLIO ========================// */

.header-list {
}

.header-item {
}

.header-link {
}

.header-address {
}

.header-item-mail {
}

.header-item-tel {
}

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

/*----------PORTFOLIO BUTTONS---------------/* */

.portfolio-button-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: var(--expert-section-background-color);
  color: var(--iris-btn-color);
  border: none;
  cursor: pointer;
  border: 1px solid var(--cornflower-accent-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color var(--transition-animation),
    color var(--transition-animation), border-color var(--transition-animation),
    box-shadow var(--transition-animation);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--ocean-pressed-color);
  color: var(--white-background-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*----------PORTFOLIO CARDS---------------*/

.portfolio-photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

/* .portfolio-image {
  display: block;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .portfolio-image:hover,
.portfolio-image:focus {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
} */


.portfolio-description {
  position: relative;
  overflow: hidden;
}

.portfolio-box {
  border: 1px solid var(--cornflower-accent-color);
  border-top: none;
  padding: 32px 16px;
}


.potfolio-top-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--expert-section-background-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.32px;
  padding: 40px 32px;
  background: var(--iris-btn-color);
  transform: translateY(100%); 
  transition: transform var(--transition-animation);

}

.portfolio-link:hover .potfolio-top-text,
.portfolio-link:focus .potfolio-top-text {
  transform: translateY(0%);
}

.portfolio-link {
  display: block;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* .portfolio-photo-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  transition: var(--transition-animation);
} */

/* .portfolio-photo-item:hover .potfolio-top-text,
.portfolio-photo-item:focus .potfolio-top-text {
  transform: translateY(0%);
}  */

/* .portfolio-photo-item:hover,
.portfolio-photo-item:focus {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */

/* Змінити transform для параграфа при фокусі на посиланні
.portfolio-photo-item:hover .portfolio-image:hover .potfolio-top-text,
.portfolio-photo-item:focus .portfolio-image:focus .potfolio-top-text {
  transform: translateY(0%);
} */

.portfolio-photo-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
  margin-bottom: 8px;
}

.portfolio-under-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-text-color);
} 

/*----------MODAL WINDOW---------------/* */

.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms linear, visibility 500ms linear;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-animation),
    visibility var(--transition-animation);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  background: var(--dairy-modal-background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition-animation);
  transform: translate(-50%, -50%) scale(1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  border-color: transparent;
  background-color: var(--cornflower-accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--transition-animation),
    border var(--transition-animation);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close:hover,
.modal-close:focus {
  border: none;
  fill: var(--white-background-color);
  background-color: var(--ocean-pressed-color);
}

.modal-close:hover .modal-icon,
.modal-close:focus .modal-icon {
  fill: var(--white-background-color);
}

.modal-icon {
  fill: #000;
  transition: fill var(--transition-animation);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
